<%= form_with(model: [notepad]) do |form| %>
  <% if notepad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notepad.errors.count, "error") %> prohibited this notepad from being saved:</h2>

      <ul>
        <% notepad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-3">
    <form>
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name , class: 'form-control'%>
      <%= form.label :purchase_date, class: 'form-label' %>
      <%= form.date_field :purchase_date, class: 'form-control' %>
      <div><p></p></div>
      <%= form.submit "Add Notepad", class: 'btn btn-outline-success'%>
    </form>
  </div>
<% end %>
