<p style="color: green"><%= notice %></p>

<h1>Carts</h1>

<div id="carts">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cart</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @carts.each do |cart| %>
        <tr>
            <td><%= cart.name %></td>
            <td><%= cart.status %></td>
            <td style="text-align: right;"><%= button_to "Show this aaaaa", [cart.notepad, cart, @product], method: :get, class: 'btn btn-outline-primary' %></td>
          </tr>
  <% end %>
    </tbody>
</table>
<%= button_to "New Cart", new_notepad_cart_path, method: :get, class: 'btn btn-success', style: 'float: right;' %>
</div>

