<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_notepad_cart_product_path(@notepad, @cart, @product) %> |
  <%= link_to "Back to products", notepad_cart_products_path %>

  <%= button_to "Destroy this product", [@notepad, @cart, @product], method: :delete %>
</div>
